.splide__arrow{
    transform: translateY(-173%) !important;
}

li.splide__slide {
    width: 100%; /* largura do item em telas grandes */
  }

  @media (max-width: 550px) {

    li.splide__slide {
        width: 55% !important; /* largura do item em telas pequenas */
    }
    .splide__arrow{
        width: 1.8rem !important;
        height: 1.8rem !important;
      }
      .splide__arrow svg {
        height: 0.8em !important;
        width: .8em !important;
    }}
    
    @media (max-width: 460px) {
        li.splide__slide {
            width: 70% !important; /* largura do item em telas pequenas */
        }}
    @media (max-width: 350px) {
        li.splide__slide {
            width: 90% !important; /* largura do item em telas pequenas */
        }
  }

 